@import "tailwindcss";

@theme {
    --color-light-yellow: #FFE3B3;
    --color-yellow: #FFC872;
    --color-blue: #30A0E0;
    --color-dark-blue: #006BBB;
}

::-webkit-scrollbar {
    display: none !important;
}

html {
    scroll-behavior: smooth !important;
}

.staatliches-font {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-font {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}